<div class="container" style="height: 100vh;">
  <div class="row justify-content-center align-items-center" style="height: 100%;">
    <div class="col-12 text-center">
      <%= image_tag "logo navbar 400x125.webp", alt:"Logo SALUTIS, création de sites web et solutions digitales pour TPE/PME", class: "mb-3" %>
      <h1 class= "mt-3">Notre site arrive bientôt, restez connectés !</h1>
      <%# <p>Find me in app/views/pages/home.html.erb</p> %>
    </div>
  </div>
